{% load static %}
<!DOCTYPE hmtl>
<hmtl>
  <link rel="stylesheet" href="{% static 'main.css' %}">

  <body>

    <table border='1'>
      <tr>
        <th>ID</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Phone</th>
        <th>Date Joined</th>
      </tr>
      {% for x in mymembers %}
      <tr>
        <td>{{ x.id }}</td>
        <td>{{ x.firstname }}</td>
        <td>{{ x.lastname }}</td>
        <td>{{ x.phone }}</td>
        <td>{{ x.Joined_date|date:"F j, Y" }}</td>
      </tr>
      {% endfor %}
    </table>

  </body>
</hmtl>